<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../../favicon.ico"/>

    <title>Twitter App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="../../css/dashboard.css"/>
    <link rel="stylesheet" th:href="@{/css/pricing.css}" href="../../css/pricing.css"/>
</head>

<body>

<!--Menu superior-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Twitter App</a>
    <form id="search" class="form-control-dark w-100" action="search" method="get">
        <input id="q" class="form-control form-control-dark w-100 my-button-border" type="text"
               placeholder="Press Enter to start a new search" aria-label="Search"/>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">

        <!--Menu parte izquierda-->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a id="streamingEncryptTweets" class="nav-link active" href="#">
                            <span data-feather="eye-off"></span>
                            Encriptación <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="streamingChangeTweets" class="nav-link" href="#">
                            <span data-feather="bold"></span>
                            Transformación <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="streamingChangeTweetsCase" class="nav-link" href="#">
                            <span data-feather="bold"></span>
                            Transformación 2<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="databaseTweets" class="nav-link" href="#">
                            <span data-feather="database"></span>
                            Base de datos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="dashboard" class="nav-link" href="#">
                            <span data-feather="monitor"></span>
                            Dashboard
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <!--Cabecera-->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 id="lblTitle" class="h2">Tweets en streaming</h1>
                <button id="buttonLogin" type="button" onclick="login()">Login</button>
                <button id="buttonLogout" type="button" onclick="logout()">Logout</button>
                <button id="buttonChangeConfig" type="button" onclick="changeConfig()">Cambiar en caliente!</button>
                <input id="csfr_value" type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <div id="divPagination" class="btn-toolbar mb-2 mb-md-0" style="display:none">
                    <div class="btn-group mr-2">
                        <button id="previousPage" class="btn btn-sm btn-outline-secondary">Anterior</button>
                        <button id="nextPage" class="btn btn-sm btn-outline-secondary">Siguiente</button>
                    </div>
                    <button id="currentPage" class="btn btn-sm btn-outline-secondary" disabled="disabled">
                        <span data-feather="calendar"></span>
                    </button>
                </div>
            </div>

            <!--Bloque para resultados de tweets-->
            <div id="resultsBlock" class="card-deck mb-3 text-center"></div>

            <!--Bloque para resultados de dashboard-->
            <div id="dashboardBlock" class="card-deck mb-3 text-center" style="display:none">
                <!--Estado de RabbitMQ-->
                <div class="card card-4 mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Estado de RabbitMQ</h4>
                    </div>
                    <div class="card-body">
                        <p id="rabbitStatusOk" class="mt-3 mb-4" style="font-size:50px;">OK</p>
                        <p id="rabbitStatusNoOk" class="mt-3 mb-4" style="font-size:50px;">No OK</p>
                    </div>
                </div>

                <!--Estado de MongoDB-->
                <div class="card card-4 mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Estado de MongoDB</h4>
                    </div>
                    <div class="card-body">
                        <p id="mongoStatusOk" class="mt-3 mb-4" style="font-size:50px;">OK</p>
                        <p id="mongoStatusNoOk" class="mt-3 mb-4" style="font-size:50px;">No OK</p>
                    </div>
                </div>

                <!--Estado de Saver-->
                <div class="card card-4 mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Estado de Tweet-Saver</h4>
                    </div>
                    <div class="card-body">
                        <p id="saverStatusOk" class="mt-3 mb-4" style="font-size:50px;">OK</p>
                        <p id="saverStatusNoOk" class="mt-3 mb-4" style="font-size:50px;">No OK</p>
                    </div>
                </div>

                <!--Estado de Access-->
                <div class="card card-4 mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Estado de Tweet-Access</h4>
                    </div>
                    <div class="card-body">
                        <p id="accessStatusOk" class="mt-3 mb-4" style="font-size:50px;">OK</p>
                        <p id="accessStatusNoOk" class="mt-3 mb-4" style="font-size:50px;">No OK</p>
                    </div>
                </div>

                <!--Estado de Chooser-->
                <div class="card card-4 mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Estado de Tweet-Chooser</h4>
                    </div>
                    <div class="card-body">
                        <p id="chooserStatusOk" class="mt-3 mb-4" style="font-size:50px;">OK</p>
                        <p id="chooserStatusNoOk" class="mt-3 mb-4" style="font-size:50px;">No OK</p>
                    </div>
                </div>

                <!--Estado de Processor 1-->
                <div class="card card-4 mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Estado de Processor 1</h4>
                    </div>
                    <div class="card-body">
                        <p id="processor1StatusOk" class="mt-3 mb-4" style="font-size:50px;">OK</p>
                        <p id="processor1StatusNoOk" class="mt-3 mb-4" style="font-size:50px;">No OK</p>
                    </div>
                </div>

                <!--Estado de Processor 2-->
                <div class="card card-4 mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Estado de Processor 2</h4>
                    </div>
                    <div class="card-body">
                        <p id="processor2StatusOk" class="mt-3 mb-4" style="font-size:50px;">OK</p>
                        <p id="processor2StatusNoOk" class="mt-3 mb-4" style="font-size:50px;">No OK</p>
                    </div>
                </div>

                <!--Numero de streamings actualmente abiertos-->
                <div class="card card-4 mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Número de streamings actualmente abiertos</h4>
                    </div>
                    <div class="card-body">
                        <p id="currentStreamings" class="mt-3 mb-4" style="font-size:50px;"></p>
                    </div>
                </div>

                <!--Numero total de streamings abiertos en la sesion-->
                <div class="card card-4 mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Número total de streamings abiertos</h4>
                    </div>
                    <div class="card-body">
                        <p id="totalStreamings" class="mt-3 mb-4" style="font-size:50px;"></p>
                    </div>
                </div>

                <!--Numero total de tweets encriptados en la sesion-->
                <div class="card card-4 mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Número total de tweets encriptados</h4>
                    </div>
                    <div class="card-body">
                        <p id="encryptedTweets" class="mt-3 mb-4" style="font-size:50px;"></p>
                    </div>
                </div>

                <!--Numero total de tweets modificados en la sesion-->
                <div class="card card-4 mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Número total de tweets modificados</h4>
                    </div>
                    <div class="card-body">
                        <p id="changedTweets" class="mt-3 mb-4" style="font-size:50px;"></p>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>


<!-- Plantilla para Tweets con encriptado -->
<script id="templateEncryptedTweets" type="text/HTML">
    {{#tweets}}
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">@{{fromUser}}</h4>
        </div>
        <div class="card-body">
            <p class="mt-3 mb-4">{{plainText}}</p>
            <hr></hr>
            <p class="mt-3 mb-4">{{text}}</p>
            <button type="button" class="btn btn-lg btn-inline btn-outline-primary">RT</button>
            <button type="button" class="btn btn-lg btn-inline btn-primary">LIKE</button>
        </div>
    </div>
    {{/tweets}}
</script>

<!-- Plantilla para Tweets sin encriptado -->
<script id="templatePlainTweets" type="text/HTML">
    {{#tweets}}
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">@{{fromUser}}</h4>
        </div>
        <div class="card-body">
            <p class="mt-3 mb-4">{{text}}</p>
            <button  type="button" class="btn btn-lg btn-inline btn-outline-primary">RT</button>
            <button  class="btn btn-lg btn-inline btn-primary">LIKE</button>
        </div>
    </div>
    {{/tweets}}
</script>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<!-- Ficheros JS locales -->
<!--script th:src="@{/js/popper.min.js}" src="../../js/popper.min.js"></script-->
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
<script th:src="@{/customJs/loadPage.js}" src="../../customJs/loadPage.js"></script>
<script th:src="@{/customJs/streaming.js}" src="../../customJs/streaming.js"></script>
<script th:src="@{/customJs/databaseList.js}" src="../../customJs/databaseList.js"></script>
<script th:src="@{/customJs/dashboard.js}" src="../../customJs/dashboard.js"></script>
<script th:src="@{/customJs/button.js}" src="../../customJs/button.js"></script>
<!--script th:src="@{/customJs/configOAuth.js}" src="../../customJs/configOAuth.js"></script-->

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>feather.replace()</script>

<!-- Libs -->
<script src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</body>
</html>
